.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #9b836f;
  border-radius: 100px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  color: rgba(255, 255, 255, 1);
}
