.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__text {
  padding: 0 10vw;
}

.hero__text > h2 {
  width: 402px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  color: rgba(112, 112, 112, 1);
}
.hero__text > h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 71px;
  color: rgba(0, 0, 0, 1);
}

.hero__text > h2 > span {
  color: blue;
}

.hero__text > button {
  margin: 5vh 0 0 0;
}
